
<suite name="Parabank UI Suite" verbose="1" parallel="false">

<listeners>
    <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
</listeners>


    <test name="Parabank UI Tests">
        <packages>
            <package name="com.ivana.parabank.tests"/>
        </packages>
    </test>
    
    
</suite>
